* {
  margin: 0;
  padding: 0;

}

.blog-contain p {
  width: 40%;
}

.blog-colum div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  margin-left: 20px;
  margin-right: 70px;
  box-sizing: border-box;
}

.blog-colum h3 {
  margin-left: 20px;
  background: #f44336;
  color: #fff;
  font-size: 16px;
  padding: 7px 0;
}

.for-contain {
  box-sizing: border-box;
  background: #f0f0f0;
  outline: none;
  border: none;
}