* {
  margin: 0;
  padding: 0;

}

body {
  overflow-x: hidden;
}

nav {
  position: fixed;
  top: 0;
}

#header {
  min-height: 70vh;
  width: 100%;
  background-image: url(images/background.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.contain-home {
  margin-top: 200px;
  margin-bottom: 100px;
}